<footer class="text-center text-black" style="background-color: #8d8888;">
<div class="d-flex flex-column min-vh-10">
  <div class="container">
  <section class="mb-4">
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <img
              src="https://itechops.com/assets/logo.png"
              class="w-100"/>
            </div>
    </section>
    </div>
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://itechops.com/">https://itechops.com/</a>
  </div>
  </div>
</footer>